@import url("../assets/css/font-face.css");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-1: #252525;
  --bg-2: #b80065;
  --bg-3: rgba(255, 255, 255, 0.5);
  --bg-4: #ae0160;
  --white: #fff;
  --gray: #b3b3b3;
  --gray2: #585656;
  --black: #252525;
  --fontColor: #f1c8cf;
  --fontName: "Poppins", sans-serif;
}

html {
  font-family: var(--fontName);
}

body {
  min-height: 100vh;
  background: var(--bg-1);
}

img {
  width: 100%;
}

.logo_img {
  width: 18%;
  border-radius: 50%;
}
.logo_img:hover {
  transform: all 0.5s ease-in-out;
  background: var(--black);
}

.music {
  position: relative;
  background: var(--bg-2);
  width: 25rem;
  height: 100vh;
  /* border-radius: 0.5rem; */
  overflow: hidden;
}

.music-player {
  padding: 0 2rem;
  height: 28rem;
}

.controlBtns {
  width: 100vw;
  height: 30px;
  /* outline: 1px solid; */
  display: flex;
  align-items: center;
  background-color: var(--bg-4);
}

.controlBtns > div {
  width: 14px;
  height: 14px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  margin-left: 8px;
  cursor: pointer;
}

.controlBtns > div:first-child {
  background-color: rgb(237, 26, 26);
  color: rgb(237, 26, 26);
  transition: 0.5s;
}

.controlBtns > div:first-child:hover {
  color: var(--gray2);
}

.controlBtns > div:last-child {
  background-color: rgb(252, 162, 6);
  color: rgb(252, 162, 6);
  transition: 0.5s;
  padding-top: 2px;
}

.controlBtns > div:last-child:hover {
  color: var(--gray2);
}

.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
  padding: 1rem 0;
  border-bottom: 0.2rem solid var(--gray);
}
.main-header .fa-solid {
  font-size: 2rem;
}

.main-header > img {
  user-select: none;
}

.menu-btn {
  background: transparent;
  color: var(--fontColor);
  border: none;
  outline: none;
  cursor: pointer;
}
.menu-btn:hover {
  transform: all 0.5s ease-in-out;
  color: var(--white);
}

.header-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: -1.5rem;
  line-height: 1.3;
  user-select: none;
}

.header-title {
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.25rem;
  text-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.5);
  user-select: none;
}

.sub-header-title {
  font-weight: 300;
  color: var(--fontColor);
}

/* Details */
.album-details {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18rem;
  width: 18rem;
  transform: translate(1.5rem, 1rem);
  background-color: var(--gray);
  border-radius: 0.5rem;
  border: 0.2rem solid var(--gray);
  box-shadow: inset -0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.3),
    0.2rem -0.2rem 0.5rem rgba(0, 0, 0, 0.3);
}
.album-details:hover {
  border: 0.2rem solid var(--white);
}

.image {
  position: relative;
  display: block;
  height: 13rem;
  width: 13rem;
}

.album_img {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
@keyframes melt {
  0% {
    clip-path: path(
      "M0 -0.8C8.33 -8.46 16.67 -12.62 25 -12.62C37.5 -12.62 35.91 0.15 50 -0.8C64.09 -0.4 62.5 -34.5 75 -34.5C87.5 -34.5 87.17 -4.45 100 -0.8C112.83 4.2 112.71 -17.95 125 -18.28C137.29 -18.62 137.76 1.54 150.48 -0.8C163.19 -1.79 162.16 -25.12 174.54 -25.12C182.79 -25.12 191.28 -16.79 600 -0.8L600 -34.37L0 -34.37L0 -0.8Z"
    );
  }
  25%,
  49.9999% {
    clip-path: path(
      "M0 199.88C8.33 270.71 16.67 306.13 25 306.13C37.5 306.13 35.91 231.4 50 231.13C64.09 230.85 62.5 284.25 75 284.25C87.5 284.25 87.17 208.05 100 212.38C112.83 216.7 112.71 300.8 125 300.47C137.29 300.13 137.76 239.04 150.48 237.38C163.19 235.71 162.16 293.63 174.54 293.63C182.79 293.63 191.28 262.38 300 199.88L300 0.13L0 0.13L0 199.88Z"
    );
  }
  50% {
    clip-path: path(
      "M0 0C8.33 -8.33 16.67 -12.5 25 -12.5C37.5 -12.5 36.57 -0.27 50 0C63.43 0.27 62.5 -34.37 75 -34.37C87.5 -34.37 87.5 -4.01 100 0C112.5 4.01 112.38 -18.34 125 -18.34C137.62 -18.34 138.09 1.66 150.48 0C162.86 -1.66 162.16 -25 174.54 -25C182.79 -25 191.28 -16.67 200 0L200 200L0 200L0 0Z"
    );
  }
  75%,
  100% {
    clip-path: path(
      "M0 400C8.33 270.83 16.67 306.25 25 306.25C37.5 306.25 36.57 230.98 50 231.25C63.43 231.52 62.5 284.38 75 284.38C87.5 284.38 87.5 208.49 100 212.5C112.5 216.51 112.38 300.41 125 300.41C137.62 300.41 138.09 239.16 150.48 237.5C162.86 235.84 162.16 293.75 174.54 293.75C182.79 293.75 191.28 262.5 400 400L400 400L0 400L0 400Z"
    );
  }
}
.title-and-author {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  height: 13rem;
  width: 13rem;
  color: var(--white);
  font-size: 1rem;
  border-radius: 50%;
  text-align: center;
  background-color: #676767;
  box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.4);
  animation: melt 8s infinite linear;
}

/* Controls */
.player_controls {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 7rem;
  margin-top: 0.3rem;
  overflow: hidden;
  background: var(--bg-2);
}
.player_controls:before {
  position: absolute;
  content: "";
  height: 3rem;
  width: 16.5rem;
  margin-top: 2rem;
  border-radius: 40%;
  border-color: transparent gray gray gray;
  border-width: 0.3rem;
  border-style: solid;
}
.player_controls:hover::before {
  transition: all 0.5s ease-in-out;
  border-color: transparent #fff #fff #fff;
}
.player_controls:hover::after {
  transition: all 0.5s ease-in-out;
  background: var(--white);
}

/* Audio */
audio {
  margin-top: 1rem;
  padding: 0;
  height: 2.5rem;
  width: 18rem;
}

audio::-webkit-media-controls-panel {
  background: var(--bg-2);
  padding: 0;
  border: none;
}

audio::-webkit-media-controls-current-time-display {
  color: var(--white);
}

audio::-webkit-media-controls-time-remaining-display {
  color: var(--white);
}

audio::-webkit-media-controls-volume-slider {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

audio::-webkit-media-controls-mute-button {
  background-color: var(--gray);
  border-radius: 0.3rem;
}

audio::-webkit-media-controls-mute-button:hover {
  background-color: var(--white);
}

audio::-webkit-media-controls-play-button {
  background-color: var(--gray);
  border-radius: 0.3rem;
}

audio::-webkit-media-controls-play-button:hover {
  background-color: var(--white);
}

.running-song-title {
  font-size: 1rem;
  color: var(--fontColor);
  padding-top: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  transform: translateX(-25rem);
  text-decoration: underline 0.5rem var(--gray);
  text-underline-offset: 0.3rem;
  animation: scroll 8s infinite;
}

@keyframes scroll {
  to {
    transform: translateX(25rem);
  }
}
.addl-controls {
  position: relative;
  top: 20px;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.3rem 0.8rem;
  height: 2.5rem;
  width: 8rem;
  margin-top: -1rem;
  z-index: 1;
  border-radius: 0.5rem;
  background: var(--gray);
  transform: translate(2.5rem, 0.7rem) rotate(-3.5deg);
}
.addl-controls:hover {
  background: var(--white);
}
.addl-controls:hover .btn {
  color: var(--black);
  border-radius: 0.5rem;
}

.btn {
  font-size: 0.8rem;
  outline: none;
  border: none;
  padding: 0.4rem;
  border-radius: 0.5rem;
  cursor: pointer;
  color: var(--white);
  background: transparent;
  transform: scale(1);
}
.btn:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.8);
}

.shuffle-active {
  color: var(--black);
  background: var(--white);
  border-radius: 0.5rem;
}

.footer {
  padding: 1rem 0 0.8rem 0;
  height: 4rem;
  color: var(--bg-1);
}
.footer .source_name,
.footer .license_number {
  font-size: 0.7rem;
  text-align: center;
  color: var(--fontColor);
}

/* 唱片列表 */
.album-container {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-2);
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(-100%);
  z-index: 1;
  transition: 0.2 s;
  padding: 10px;
  color: var(--white);
  transition: 0.3s;
  overflow: hidden;
}

.album-show {
  transform: translateX(0);
}

.album-header {
  width: 100%;
  height: 70px;
  /* outline: 1px solid; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  /* padding: 0 10px; */
  user-select: none;
}

.album-header > .closeAlbumBtn {
  cursor: pointer;
}

/* 专辑列表 */
.album-list {
  list-style: none;
  background-color: rgba(136, 135, 135, 0.3);
  height: calc(100vh - 80px);
  margin: 0;
  padding: 0;
  padding-top: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.album-item {
  width: 95%;
  height: 80px;
  display: flex;
  align-items: center;
  margin: 15px auto;
  cursor: pointer;
  padding: 2px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid rgba(48, 43, 43, 0.3);
}

.album-item:hover {
  background-color: rgba(96, 94, 94, 0.3);
  border-bottom: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.item-left {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-right {
  flex-grow: 1;
  font-size: 14px;
  padding-left: 20px;
  font-weight: 100;
}

/* 歌曲列表 */
.song-container {
  width: 100%;
  height: 400px;
  background: linear-gradient(
    to bottom,
    rgba(76, 64, 64, 0.9),
    rgba(0, 0, 0, 0.8)
  );
  position: absolute;
  left: 0;
  bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 10px;
  font-size: 14px;
  transition: 0.2s;
  transform: translateY(100%);
}

.song-item {
  font-size: 13px;
  cursor: pointer;
  color: #b3b3b3;
  display: flex;
}

.song-item:nth-child(even) {
  background-color: rgba(96, 94, 94, 0.3);
}

.song-item:hover {
  background-color: rgba(96, 94, 94, 0.5);
}

.song-item > div {
  width: 50%;
}
.song-item > div > div {
  width: 50%;
  text-align: center;
}

.flex {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex > div:first-child {
  width: 45%;
  text-align: center;
}

.flex > div:last-child {
  width: 55%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.arrow-down {
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: 15px;
  left: calc(50% - 5px);
  cursor: pointer;
}

.show-song-list {
  transform: translateY(0);
}

/* 重写控制面板 */
.play-container {
  width: 300px;
  height: 40px;
  /* outline: 1px solid; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 15px;
}

.playBtnContainer {
  width: 15%;
  height: 100%;
  /* outline: 1px solid; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin-right: 5px;
}

/* 播放按钮 */
.playBtn {
  width: 35px;
  height: 35px;
  /* outline: 1px solid; */
}

.playBtn.amplitude-play-pause.amplitude-playing {
  background: url("../assets/images/baseline-pause_circle_filled-24px.svg")
    center no-repeat;
  background-size: 30px;
  background-color: var(--gray);
  border-radius: 5px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.playBtn.amplitude-play-pause.amplitude-paused {
  background: url("../assets/images/baseline-play_circle_filled-24px.svg")
    center no-repeat;
  background-size: 30px;
  background-color: var(--gray);
  border-radius: 5px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* 显示播放时间 */
.time-container {
  width: 25%;
  height: 100%;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  /* outline: 1px solid; */
}

.time-container > .separator {
  margin: 0 5px;
}

/* 进度条和音量控制面板 */
.progress-volume-container {
  width: 60%;
  height: 100%;
  /* outline: 1px solid var(--white); */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 进度条 */
.progress-container {
  width: 100%;
  height: 100%;
  /* outline: 1px solid; */
  display: flex;
  align-items: center;
  padding: 0 10px;
  transition: 0.5s;
}

.progress-container > input {
  width: 100%;
}

input[type="range"] {
  display: flex;
  appearance: none;
  width: 100%;
  background: transparent;
}

/* 设置已滑动部分（track）的样式 */
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  background: #888888; /* 已滑动部分的颜色 */
  border-radius: 4px;
}

/* 设置滑块（thumb）的样式 */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #d2cdcd; /* 滑块边框颜色 */
  height: 14px; /* 滑块高度 */
  width: 14px; /* 滑块宽度 */
  border-radius: 50%; /* 滑块为圆形 */
  background: #fff; /* 滑块背景颜色 */
  margin-top: -5px; /* 修正滑块位置 */
  cursor: pointer;
}

/* 静音按钮 */
.mute-button {
  width: 40px;
  height: 90%;
  /* outline: 1px solid; */
}

.mute-button.amplitude-mute.amplitude-not-muted {
  background: url("../assets/images/baseline-volume_up-24px.svg") center
    no-repeat;
  background-size: 25px;
  background-color: var(--gray);
  border-radius: 5px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.mute-button.amplitude-mute.amplitude-muted {
  background: url("../assets/images/baseline-volume_off-24px.svg") center
    no-repeat;
  background-size: 25px;
  background-color: var(--gray);
  border-radius: 5px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.volume-container {
  width: 0%;
  display: none;
}

